# Binarios
bin/
obj/
*.exe
*.pdb
*.cache
*.nupkg

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.idea/

# Publicado
publish/
publish-linux/
publish-win/
publish-linux/
BuildOutput/

# Paquetes Linux (.deb)
*.deb

# Configuración local
appsettings.Development.json
local.settings.json

# Inno Setup
Instalador/
*.iss.dep

# Build
build/

# Logs
*.log
logs/